{% extends "growthstreetApp/baseLoggedIn.html" %}

{% block Title %}
Add {{ whatData|slice:":-1" }}
{% endblock %}
{% block cssblock %}
<style>

.center{
    width: 250px;
    margin:0 auto;
    text-align: left;
}
.center ul{
    list-style-type: square;
}

h3{
    color:blue;
}

</style>
{% endblock %}

{% block content %}
    {{ block.super }}

    <form action="{% url 'ViewDataAdd' %}" method="post">

    {% csrf_token %}
        <table>
        {{  form.as_table }}
    </table>


    <input type="submit" class="btn btn-primary" value="Request now!">

    </form>

    <script>
{#    var fieldNames = {{ fieldNames | safe }}#}
{##}
{#    function createNewField(){ // this is still a hacky way of doing it. Very brittle as well.#}
{#        console.log("ERE")#}
{#        var currentValue = $("#id_form-TOTAL_FORMS").val()#}
{#        $("#id_form-TOTAL_FORMS").val(parseInt(currentValue)+1)#}
{#        var paragraphs = document.getElementsByTagName("p")#}
{#        var length = paragraphs.length;#}
{#        var theForm = document.getElementsByTagName("form")[0]#}
{#        var secondLastElement = paragraphs[length-2].cloneNode(true)#}
{#        var lastElement = paragraphs[length-1].cloneNode(true)#}
{#        secondLastElement.getElementsByTagName("label")[0].setAttribute("for","id_form-"+currentValue+"-"+fieldNames[0])#}
{#        secondLastElement.getElementsByTagName("input")[0].setAttribute("id","id_form-"+currentValue+"-"+fieldNames[0])#}
{#        secondLastElement.getElementsByTagName("input")[0].setAttribute("name","form-"+currentValue+"-"+fieldNames[0])#}
{#        lastElement.getElementsByTagName("label")[0].setAttribute("for","id_form-"+currentValue+"-"+fieldNames[1])#}
{#        lastElement.getElementsByTagName("select")[0].setAttribute("id","id_form-"+currentValue+"-"+fieldNames[1])#}
{#        lastElement.getElementsByTagName("select")[0].setAttribute("name","form-"+currentValue+"-"+fieldNames[1])#}
{##}
{#        //theForm.appendChild(secondLastElement)#}
{#        //theForm.appendChild(lastElement)#}
{#        theForm.insertBefore(secondLastElement,theForm.children[theForm.children.length-1])#}
{#        theForm.insertBefore(lastElement,theForm.children[theForm.children.length-1])#}
{#        var paragraphs2 = document.getElementsByTagName("p")#}
{#    }#}
{##}
{#    function insertAfter(referenceNode, newNode) {#}
{#        referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);#}
{#    }#}
{##}
{#    $("#addnewfield").click(createNewField)#}
    </script>
{% endblock %}