<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>

<head>

<title>{% block Title %}Fixme{% endblock %}</title>

{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static "growthstreetApp/myStyles.css" %}">
    <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.css">
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>


{% block cssblock %}

{% endblock %}

</head>

<body>

{% block content %}

<p>THis is a test</p>

{% endblock %}



<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
